{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}

	<h1>Liste des utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Firstname</th>
				<th>Date_of_birth</th>
				<th>Updated_at</th>
				<th>Created_at</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
					<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('choose_edit', {'id': user.id}) }}">Choix</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
