{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>Firstname</th>
				<td>{{ user.firstname }}</td>
			</tr>
			<tr>
				<th>Date_of_birth</th>
				<td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Updated_at</th>
				<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	{% for specialty in user.specialties %}
		<p>{{specialty.name}}</p>
	{% endfor %}

	<a href="{{ path('user_index') }}" class="btn btn-secondary">Retour à la liste</a>

	<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">Editer</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
