{% extends 'base.html.twig' %}

{% block title %}Study index{% endblock %}

{% block body %}
    <h1>Study index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for study in studies %}
            <tr>
                <td>{{ study.id }}</td>
                <td>{{ study.name }}</td>
                <td>
                    <a href="{{ path('study_show', {'id': study.id}) }}">show</a>
                    <a href="{{ path('study_edit', {'id': study.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('study_new') }}">Create new</a>
{% endblock %}
