{% extends 'base.html.twig' %}

{% block title %}Niveaux d'études{% endblock %}

{% block body %}
    <h1>Niveaux d'études</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Durée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for study in studies %}
            <tr>
                <td>{{ study.id }}</td>
                <td>{{ study.name }}</td>
                <td>{{ study.duration }}</td>
                <td>
                    <a href="{{ path('study_show', {'id': study.id}) }}" class="btn btn-dark">Voir</a>
                    <a href="{{ path('study_edit', {'id': study.id}) }}" class="btn btn-secondary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('study_new') }}" class="btn btn-success">Ajouter un niveau d'étude</a>
{% endblock %}
