{% extends 'base.html.twig' %}

{% block title %}Liste des spécialités
{% endblock %}

{% block body %}
	<h1>Liste des spécialités</h1>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}

	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Spécialité</th>
				<th>Date de création</th>
				<th>Date de mise à jour</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for specialty in specialties %}
				<tr>
					<td>{{ specialty.id }}</td>
					<td>{{ specialty.name }}</td>
					{% if specialty.study %}
						<td>{{ specialty.study.name }}</td>
                    {% else %}
                        <td>Aucune spécialité</td>    
					{% endif %}
					<td>{{ specialty.createdAt ? specialty.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ specialty.updatedAt ? specialty.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('specialty_show', {'id': specialty.id}) }}" class="btn btn-dark">Voir</a>
						<a href="{{ path('specialty_edit', {'id': specialty.id}) }}" class="btn btn-secondary">Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune données</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('specialty_new') }}" class="btn btn-success">Ajouter une spécialité</a>
{% endblock %}
